
      body{
        background-color: #808080;
      }
    .meunome, .habilidades, .redes {
      font-family: sans-serif;
      text-align: center;
      font-size: 30px;
    }

    .sobremim{
      font-family: sans-serif;
      text-align: center;
      font-size: 30px;
    }


    .titulo {
      font-family: 'Times New Roman', Times, serif;
      font-size: 50px;
      color: black;
      text-align: center;
  }

   a{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
   }

   .linkedin {
    text-decoration: none;
    text-align: justify;
    font-size: 30px;
   }

   img{
    border-radius: 40px;
    
   }

   .listacompetencias {
    font-size: 25px;
    text-align: left;
      }

      p{
        text-align: center;
        font-size: 20px;
      }

